.container {
    color: black;

    button, .button {
        background: #415F33;
    }
}

.title {
    margin-bottom: 2em;
}

.product {
    display: flex;

    div {
        margin-right: 2em;
        max-width: 400px;
    }

    h3 {
        margin-bottom: 1em;
    }
}