.parent {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .header {
        margin-bottom: 2em;
        background-color: var(--bg-color);
        padding: 20px;
        color: #fff;

        h1 {
            margin: 10px;
        }

        .items {
            margin-left: auto;
            display: flex;

            a {
                margin: 10px;
            }
        }
    }
}

.main {
    display: flex;
    flex-grow: 1;
}

.content {
    flex-grow: 1;
    flex-direction: column;

    .title, .search, .maps {
        margin-bottom: 1em;
        max-width: 1000px;
    }

    .title {
        h5 {
            font-family: 'Roboto Slab', serif;
            font-size: 20px;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

        /* Style the search field */
    form.search input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 55%;
        background: #f1f1f1;
        margin-right: 1em;
    }
    
        /* Style the submit button */
    form.search button {
        float: left;
        width: 20%;
        padding: 10px;
        background: var(--bg-color);
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        /* Prevent double borders */
        cursor: pointer;
    }
    
    /* Clear floats */
    form.search::after {
        content: "";
        clear: both;
        display: table;
    }

    .maps, .results {
        width: 78%;
        margin-bottom: 3em;
    }

    .results {
        font-family: 'Manrope', sans-serif;

        h4 {
            margin-bottom: 0.5em;
            font-size: 20px;
            font-weight: 600;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
        }

        .items {
            display: flex;
            
            h5 {
                font-size: 16px;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: left;
            }

            p {
                font-size: 14px;
                font-weight: 500;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
            }

            .block {
                background-color: var(--bg-color);
                width: 10px;
                margin-right: 1em;
            }

            img {
                margin-right: 1em;
            }

            button {
                background: var(--bg-color);
            }
        }
    }
}

.child {
    display: flex;
    margin-bottom: 1%;
    font-size: 20px;
    line-height: 20px;
    color: black;
    background-color: #fff;
}

body {
    font-family: Verdana;
}

.sidebar {
    margin-right: 1em;
    border: 1px solid gray;
    padding: 20px;
    margin-right: 3em;
    max-height: 500px;
}

.sidebar-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}